<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.upsam.dsm.icsypb_android">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

    </application>

    <!-- PERMISOS DE APLICACION -->

    <!-- Internet y sockets -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

</manifest>
